<template>
  <div>
    <!-- Màn hình đăng nhập -->
    <h2>Đăng nhập</h2>
    <div>
      <label for="username">Tài khoản:</label>
      <input type="text" id="username" v-model="userName" />
    </div>
    <div v-if="isLoggedIn2">
      <p>Tài khoản có độ dài từ 8-16 kí tự và không được để trống</p>
    </div>
    <div>
      <label for="password">Mật khẩu:</label>
      <input type="password" id="password" v-model="passWord" />
    </div>
    <div v-if="isLoggedIn3">
      <p>Mật khẩu có các kí tự chứ thường, hoa, số và kí tự đặc biệt</p>
    </div>
    <button @click="login">Đăng nhập</button>
    <!-- <button @click="checkToken">Check</button> -->
    <!-- <button @click="getToken">GetToken</button> -->
  </div>
</template>

<script>
import { getToken } from '../api/api.js';
export default {
  data() {
    return {
      userName: '',
      passWord: '',
      msg: ''
    };
  },
  created() { },
  methods: {
    logout() {
      this.loggedIn = false;
    },
    async login() {
      let body = await this.validateData();
      if (body) {
        await getToken(body)
          .then((res) => {
            this.accessToken = res.data['access_token']
            this.refreshToken = res.data['refresh_token']
            localStorage.setItem('accessToken', this.accessToken)
            localStorage.setItem('refreshToken', this.refreshToken)
            alert('access token:' + this.accessToken)
          }).catch((err) => {
            this.msg = 'Lỗi:' + err;
          })
      }
    },
    async validateData() {
      let userName = this.userName.trim();
      let passWord = this.passWord.trim();
      if (!userName) {
        this.msg = 'Tài khoản không được để trống';
        return false;
      }
      if (!passWord) {
        this.msg = 'Mật khẩu không được để trống';
        return false;
      }
      let body = {
        username: this.userName,
        password: this.passWord,
        grant_type: 'password',
        client_id: 'Cbx_App',
        scope: 'offline_access Cbx'
      };
      return body
    }
  }
};
</script>

