<!-- <template>
    <div>
      <h3>{{ member.name }}</h3>
      <p>Email: {{ member.email }}</p>
      <p>Phone: {{ member.phone }}</p>
    </div>
  </template>
  
  <script>
  export default {
    props: ['member']
  };
  </script>
  
  <style scoped>
  /* CSS styles for the component */
  </style> -->
  