<template>
    <!-- Your component template -->
    trang admin
  </template>
  
  <script>
  export default {
    name: 'AdminPage',
    // Other component options and logic
  }
  </script>
  
  <style>
  /* Your component styles */
  </style>
  